* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;

}
.topbar {
font-family: 'Open Sans', sans-serif;
font-size: 30px;
color: #3F9777;
text-align:center;
Width: 100%;
Height:150px;
background-color:#ffffff;
box-shadow: 10px 10px 5px #888888;
}
.HW {
text-align:center;
color: #294C40;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
Width: 100%;
Height:80px;
box-shadow: 10px 10px 5px #888888;
}
